/**
 * 宽高比适配容器
 * 要求子级有 .content 类名
 */
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .content {
    position: absolute;
    inset: 0;
  }
}
