@forward './mixins';

body {
  color: #2c3e50;
}

#app {
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #e4e8f3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
